In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("./TrainingSet.csv")
print df.shape

(96, 14)

In [3]:
df.head()

,y,YYYYMM,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,factor9,factor10,factor11,factor12
0,8.9,200701,1.5,6.8,0.8,-14,0,2.2,-3.030303,0.1,-6.8,-4.7,NaN,NaN
1,3.3,200702,1.7,3.9,4.8,-107,1,1.5,8.333333,0.0,-4.9,-5.5,NaN,NaN
2,7.4,200703,-0.3,1.7,5.5,-17,1,0.7,36.000000,0.0,-4.3,-4.5,2.1,-0.1
3,6.9,200704,0.7,3.8,5.5,-14,0,0.2,15.151515,0.2,-6.5,-4.9,2.5,-0.3
4,-2.1,200705,1.8,2.0,2.4,13,-1,0.3,8.333333,0.0,-4.9,-3.1,1.5,0.9

In [4]:
#for c in df.columns:
#    print c
#    print df[c].isnull().sum()
#    print "-"*10

In [5]:
#x = np.linspace(0,len(df["y"]),len(df["y"]))
#plt.scatter(x,df["y"])
#plt.show()

In [6]:
df = df.dropna()
df.head()

,y,YYYYMM,factor1,factor2,factor3,factor4,factor5,factor6,factor7,factor8,factor9,factor10,factor11,factor12
2,7.4,200703,-0.3,1.7,5.5,-17,1,0.7,36.000000,0.0,-4.3,-4.5,2.1,-0.1
3,6.9,200704,0.7,3.8,5.5,-14,0,0.2,15.151515,0.2,-6.5,-4.9,2.5,-0.3
4,-2.1,200705,1.8,2.0,2.4,13,-1,0.3,8.333333,0.0,-4.9,-3.1,1.5,0.9
5,-1.3,200706,-0.6,0.6,3.3,-11,1,0.3,0.000000,-0.2,-4.7,-3.8,1.3,-1.1
6,-11.7,200707,-8.8,2.2,3.3,7,-1,-0.9,-8.333333,-0.1,-3.1,-3.4,1.9,-1.1

In [7]:
df_y = df["y"]
df.drop(["y"],axis=1,inplace=True)

In [ ]:
import chainer
import chainer.functions as F
import chainer.links as L
from chainer import training
from chainer.training import extensions

class MyLSTM(chainer.Chain):

    def __init__(self):
        super(MyLSTM, self).__init__(
            l1=L.LSTM(13,13),  # n_in -> n_units
            l2=L.Linear(13, 1),  # n_units -> n_units
        )

    def __call__(self,x,y):
        h1 = F.relu(self.l1(x))
        h2 = F.Linear(self.l2(h1))
        loss = F.mean_squared_error(h2,y)
        accuracy = F.accuracy(h2, y)
        return loss


def main():
    gpu = 0
    batchsize = 1
    epoch = 100
    out = "Result"
    frequency = 10
    print('GPU: {}'.format(args.gpu))
    print('# Minibatch-size: {}'.format(batchsize))
    print('# epoch: {}'.format(epoch))
    print('')

    model = MyLSTM()
    if gpu >= 0:
        chainer.cuda.get_device_from_id(gpu).use()
        model.to_gpu()  
        
    x = chainer.Variable(x)
    y = chainer.Variable(y)
    
    for epoch in epoch:
        

    optimizer.setup(model)
    
    
if __name__ == '__main__':
    main()

In [25]:
from sklearn import linear_model
model = linear_model.LinearRegression()

#print np.array(df.ix[2])
#print np.array([df_y.ix[2]])

print df.shape

sum_loss = 0
for i in xrange(2,df.shape[0]-1):
    model.fit(np.array(df.ix[i]),np.array([df_y.ix[i]]))
    y_hat = model.predict(np.array(df.ix[i+1]))
    sum_loss += (np.array(df_y.ix[i+1])-y_hat)**2

print sum_loss
model = linear_model.Lasso()

sum_loss = 0
for i in xrange(2,df.shape[0]-1):
    model.fit(np.array(df.ix[i]),np.array([df_y.ix[i]]))
    y_hat = model.predict(np.array(df.ix[i+1]))
    sum_loss += (np.array(df_y.ix[i+1])-y_hat)**2
print sum_loss

(94, 13)
[ 15275.83]
[ 15275.83]

In [ ]:
from sklearn.linear_model import LinearRegression



print "NORMALIZE"
df_y = df["y"]
df.drop(["y"],axis=1,inplace=True)

model = linear_model.LinearRegression(normalize=True)
for x, y in zip(df,df_y):
    model.fit(df,df_y)